.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s, opacity 0.5s linear !important;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}
