body {
}

a {
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $secondary;
  }

  & > * {
    &:hover {
      fill: $secondary;
    }
  }
}

ul,
ol {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

img {
  vertical-align: 0;
}

.h1 {
  @extend %heading;
  @include heading-size(
    $h1-font-size,
    $h1-mobile-font-size,
    $h1-line-height,
    $h1-mobile-line-height,
    $h1-letter-spacing,
    $h1-mobile-letter-spacing
  );
}

.h2 {
  @extend %heading;
  @include heading-size(
    $h2-font-size,
    $h2-mobile-font-size,
    $h2-line-height,
    $h2-mobile-line-height,
    $h2-letter-spacing,
    $h2-mobile-letter-spacing
  );
}

.h3 {
  @extend %heading;
  @include heading-size(
    $h3-font-size,
    $h3-mobile-font-size,
    $h3-line-height,
    $h3-mobile-line-height,
    $h3-letter-spacing,
    $h3-mobile-letter-spacing
  );
}

.h4 {
  @extend %heading;
  @include heading-size(
    $h4-font-size,
    $h4-mobile-font-size,
    $h4-line-height,
    $h4-mobile-line-height,
    $h4-letter-spacing,
    $h4-mobile-letter-spacing
  );
}

.h5 {
  @extend %heading;
  @include heading-size(
    $h5-font-size,
    $h5-mobile-font-size,
    $h5-line-height,
    $h5-mobile-line-height,
    $h5-letter-spacing,
    $h5-mobile-letter-spacing
  );
}

.h6 {
  @extend %heading;
  @include heading-size(
    $h6-font-size,
    $h6-mobile-font-size,
    $h6-line-height,
    $h6-mobile-line-height,
    $h6-letter-spacing,
    $h6-mobile-letter-spacing
  );
}

.display-1 {
  @extend %display;
  @include heading-size(
    $display1-font-size,
    $display1-mobile-font-size,
    $display1-line-height,
    $display1-mobile-line-height,
    $display1-letter-spacing,
    $display1-mobile-letter-spacing
  );

  @include media-breakpoint-down(lg) {
    font-size: $display1-mobile-font-size;
    line-height: $display1-mobile-line-height;
    letter-spacing: $display1-mobile-letter-spacing;
  }
}

.display-2 {
  @extend %display;
  @include heading-size(
    $display2-font-size,
    $display2-mobile-font-size,
    $display2-line-height,
    $display2-mobile-line-height,
    $display2-letter-spacing,
    $display2-mobile-letter-spacing
  );
}

.display-3 {
  @extend %display;
  @include heading-size(
    $display3-font-size,
    $display3-mobile-font-size,
    $display3-line-height,
    $display3-mobile-line-height,
    $display3-letter-spacing,
    $display3-mobile-letter-spacing
  );
}

.display-4 {
  @extend %display;
  @include heading-size(
    $display4-font-size,
    $display4-mobile-font-size,
    $display4-line-height,
    $display4-mobile-line-height,
    $display4-letter-spacing,
    $display4-mobile-letter-spacing
  );
}

.display-5 {
  @extend %display;
  @include heading-size(
    $display5-font-size,
    $display5-mobile-font-size,
    $display5-line-height,
    $display5-mobile-line-height,
    $display5-letter-spacing,
    $display5-mobile-letter-spacing
  );
}
