.h1 {
  &--hc {
    font-family: $font-heading-hc;
  }

  &--lc {
    font-family: $font-heading-lc;
  }
}

.h2 {
  &--hc {
    font-family: $font-heading-hc;
  }

  &--lc {
    font-family: $font-heading-lc;
  }
}

.h3 {
  &--lc {
    font-family: $font-heading-lc;
  }
}

.h4 {
  &--lc {
    font-family: $font-heading-lc;
  }
}

.h5 {
  &--lc {
    font-family: $font-heading-lc;
  }
}

.text {
  &-xxl {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 2%;

    &--medium {
      font-weight: 500;
    }
  }

  &-xl {
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 2%;

    &--medium {
      font-weight: 500;
    }

    &--regular {
      font-weight: 400;
    }
  }

  &-large {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 2%;

    &--medium {
      font-weight: 500;
    }

    &--regular {
      font-weight: 400;
    }
  }

  &-normal {
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 2%;

    &--semi-bold {
      font-weight: 600 !important;
    }

    &--medium {
      font-weight: 500 !important;
    }

    &--regular {
      font-weight: 400 !important;
    }

    &--light {
      font-weight: 300 !important;
    }
  }
}

.title1 {
  font-size: toRem(615);
  line-height: 100%;
  letter-spacing: -1%;

  &--hc {
    font-family: $font-heading-hc;
  }

  &--lc {
    font-family: $font-heading-lc;
  }
}

.title2 {
  font-size: 176px;
  line-height: 88%;
  letter-spacing: 0%;

  &--hc {
    font-family: $font-heading-hc;
  }

  &--lc {
    font-family: $font-heading-lc;
  }
}

.title3 {
  font-size: 102px;
  line-height: 100%;
  letter-spacing: 0%;

  &--hc {
    font-family: $font-heading-hc;
  }

  &--lc {
    font-family: $font-heading-lc;
  }
}

.title4 {
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;

  &--hc {
    font-family: $font-heading-hc;
  }

  &--lc {
    font-family: $font-heading-lc;
  }
}

.title5 {
  font-size: 54px;
  line-height: 56px;
  letter-spacing: 0%;

  &--lc {
    font-family: $font-heading-lc;
  }
}

.button-text {
  font-family: $font-heading-lc;
  letter-spacing: 7%;
  font-weight: 700;

  &--xl {
    font-size: 60px;
  }

  &--large {
    font-size: 40px;
  }

  &--normal {
    font-size: 28px;
  }
}
