.button-icon {
  border-radius: 999px;
  border: 1px solid;
  border-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  background: transparent;
  cursor: pointer;

  &:hover {
    color: $primary;
    border-color: $primary;
  }

  &--large {
    height: 64px;
    width: 64px;
    > i {
      font-size: 48px;
      color: inherit;
    }
  }

  &--small {
    height: 48px;
    width: 48px;
    > i {
      font-size: 36px;
      color: inherit;
    }
  }
}

.button-slider-box {
  display: flex;
  gap: 8px;
  align-items: center;

  cursor: pointer;
}

.button-link {
  text-transform: uppercase;
  display: flex;
  gap: 8px;
  align-items: center;
  color: inherit;
  transition: all 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.button-tab {
  flex-grow: 1;
  padding: 24px 0;
  color: $text-dark;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    color: $primary;
  }

  &--active {
    background-color: $bg-dark;
    color: $text-white !important;

    &:hover {
      color: $text-white;
    }
  }
}

.button-link-text {
  text-transform: uppercase;
  color: $primary !important;

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    color: $secondary !important;
  }
}
