.infinite-scroll {
  transform: rotate(90deg);

  height: 96px;
  color: $text-white;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;

  @include media-breakpoint-down(md) {
    height: 56px;
  }

  & > ul {
    height: 100%;
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    animation: scroll 20s linear infinite;
  }

  & li {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  & svg {
    width: 24px;
    height: 24px;

    @include media-breakpoint-down(md) {
      width: 18px;
      height: 18px;
    }
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100%));
  }
}
