.section__title {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: end;

  > a {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(lg) {
    align-items: start;
    > a > p {
      display: none;
    }
  }
}
