.tag {
  height: 34px;
  width: fit-content;
  padding-inline: 16px;
  display: flex;
  align-items: center;

  text-transform: uppercase;

  &--light {
    background-color: $bg-light;
    color: $text-dark;
    border: 1px solid $gray;
  }
  &--dark {
    background-color: $bg-dark;
    color: $text-white;
    border: 1px solid $text-white;
  }

  &--inherit {
    background-color: transparent;
    color: inherit;
    border: 1px solid;
    border-color: inherit;
  }
}
