.header {
  width: 100%;
  height: fit-content;
  background: $bg-primary;
  color: $text-dark;
  border-bottom: 1px solid $gray;
  position: fixed;
  z-index: 15;
  text-transform: uppercase;
}

.navigation {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(lg) {
    height: 64px;
  }

  &__menu {
    width: 100%;
    min-width: fit-content;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      width: fit-content;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;

    @include media-breakpoint-down(lg) {
      & > svg {
        display: none;
      }
      position: absolute;
      top: 65px;
      width: 100%;
      left: 0;
      right: 0;
      background: $bg-primary;
      flex-direction: column;
    }
  }

  &__item {
    list-style: none;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  &__dropdown-box {
    position: absolute;
    width: 100%;
    top: 73px;
    left: 0;
    right: 0;
    background: $bg-primary;
    border-bottom: 1px solid $gray;

    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
    @include media-breakpoint-down(lg) {
      position: relative;
      border-bottom: none;
    }
  }

  &__dropdown-box.open-dropdown-menu {
    max-height: 100vh;
  }

  &__dropdown-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    padding-block: 20px;

    @include media-breakpoint-down(lg) {
      grid-template-rows: repeat(5, 1fr);
    }

    @include media-breakpoint-down(md) {
      grid-template-rows: repeat(8, 1fr);
    }
  }

  &__logo {
    height: 40px;
    width: auto;
    padding-inline: 12px;
    @include media-breakpoint-down(md) {
      height: 20px;
    }

    & > img {
      width: auto;
      height: inherit;
      object-fit: cover;
    }
  }

  &__action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;

    @include media-breakpoint-down(lg) {
      & svg {
        display: none;
      }
    }
  }
}

.btn-icon {
  color: $text-dark;
}

.btn-hamburger {
  display: none;
}

.btn-close {
  display: none;
}

.btn-subscribe {
  color: $primary;
}
